.table-container {
  width: 100%;
  overflow-x: auto;
}

.table {
  margin-top: 20px;
  width: 100%;
  max-width: 1200px;
  border-collapse: collapse;
  box-sizing: border-box; 
}
  
.table-column {
  min-width: 50px;
  border: 1px solid black;
  padding: 8px 0;
  text-align: left;
}
  
.table-column__head {
  background-color: darkgrey;
  position: relative;
  text-align: center;
}

.table-column__center {
  text-align: center;
}
  
.resizer {
  cursor: col-resize;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  z-index: 1;
}

.button-sort {
  margin-left: 10px;
  background-image: url(../images/sort-icon-down.png);
  background-color: transparent;
  background-size: cover; 
  background-position: center; 
  border: none; 
  width: 20px; 
  height: 15px; 
  color: white; 
  font-size: 16px;
  cursor: pointer;
}

.button-sort-down {
  transform: rotate(180deg);
}